

<div class="contacto-container">
  <div class='row justify-content-center'>
    <div class="col-6">
      <div class= "text-container", style="margin-bottom:50px">
        <h3 style="margin-bottom:10px; text-align:center">Gracias por su tiempo!</h3>
        <h4 style='text-align:center'>Por favor contactar a los representates para ventas e informacion adicional</h4>
      </div>
      <div class='border-bottom', style="margin-top:12px color:white">Nombre </div>
      <p>Gabriela Maizel</p>
      
      <div class='border-bottom', style="margin-top:12px color:white">Telefono</div>
      <p>0997172224</p>

      <div class='border-bottom', style="margin-top:12px color:white">Ciudad</div>
      <p> Quito, Ecuador</p>
      <div style="margin-top:40px; text-align:center">
        <%= link_to 'Regresar a Catalogo', products_path, class:'btn btn-flat'%>
      </div>
    </div>
  </div>
</div>