

<div class="contacto-container">
  <div class='row justify-content-center'>
    <div class="col-6">
      <div class= "text-container", style="margin-bottom:50px">
        <h3 style="margin-bottom:10px; text-align:center">Gracias por su tiempo!</h3>
        <h4 style='text-align:center'>Por favor contactar a los representates para ventas e informacion adicional</h4>
      </div>
      <div class='border-bottom', style="margin-top:12px color:white">Nombre </div>
      <p>Gabriela Maizel</p>
      
      <div class='border-bottom', style="margin-top:12px color:white">Telefono</div>
      <p>0997172224</p>

      <div class='border-bottom', style="margin-top:12px color:white">Ciudad</div>
      <p> Quito, Ecuador</p>
      <div style="margin-top:40px; text-align:center">
        <%= link_to 'Regresar a Catalogo', products_path, class:'btn btn-flat'%>
      </div>
    </div>
  </div>
</div>

 <script>
      window.Papercups = {
        config: {
          accountId: "ef5f13ee-cf61-4d26-839b-a506055720ab",
          title: "Escribenos",
          subtitle: "Preguntanos lo que necesites 😊",
          primaryColor: "#79b473",
          greeting: "",
          awayMessage: "",
          newMessagePlaceholder: "Escribiendo...",
          showAgentAvailability: true,
          agentAvailableText: "Estamos en Linea!",
          agentUnavailableText: "Estamos Desconectador por el Momento",
          requireEmailUpfront: false,
          iconVariant: "outlined",
          baseUrl: "https://app.papercups.io",
          // Optionally include data about your customer here to identify them
          // customer: {
          //   name: __CUSTOMER__.name,
          //   email: __CUSTOMER__.email,
          //   external_id: __CUSTOMER__.id,
          //   metadata: {
          //     plan: "premium"
          //   }
          // }
        },
      };
      </script>
      <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/widget.js"
      src="https://app.papercups.io/storytime.js"
      ></script>